button{
   width: 191px;
   margin: 18px 10px;
   padding: 10px 25px;
   padding-bottom: 10px;
   font-size: 33px;
   color: black;
   background-color: white;
   border: 3px solid black;
   border-radius: 10px
}

button:hover{
   scale: 1.1;
   background-color: black;
   color: white;
}

.form{
   margin: 20px 10px;
   padding: 10px 25px;
   width: 350px;
   height: 400px;
   font-size: 30px;
   color: black;
   background-color: white;
   border: 3px solid black;
   border-radius: 10px
}


.input{
   outline: 0;
   display: block;
   width: 220px;
   height: 40px;
   margin: auto;
   font-size: 25px;
   border: none;
   border-bottom: 2px solid black;
   color: black;
   background-color: white;
}

.oneAboveAll{
   margin: auto;
   margin-top: 80px;
   width: 425px;
}

.p{
   margin: auto;
   width: 425px;
   font-size: 28px;
   text-align: center;
}